<div class="circle"
     [style.background]="color === Color.RED ? 'red' : 'black'"
     [style.cursor]="value !== null ? 'pointer' : 'auto'"
     [ngbPopover]="value && popContent"
     placement="top"
     triggers="manual"
     (click)="onClick()"
     #p="ngbPopover">
  <b>{{ value || 'nil' }}</b>
</div>

<ng-template #popContent>
  <div class="btn-group-vertical btn-group-sm"
       outsideClick
       [outside]="popoverOpen"
       (outsideChange)="onOutsideChange($event)">
      <button class="btn btn-outline-secondary"
              (click)="changeColor.emit()">색깔 변경</button>
      <button class="btn btn-outline-secondary"
              (click)="rotateLeft.emit()">회전 (좌)</button>
      <button class="btn btn-outline-secondary"
              (click)="rotateRight.emit()">회전 (우)</button>
      <button class="btn btn-outline-secondary"
              (click)="delete.emit()">삭제</button>
  </div>
</ng-template>
