.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: black;
  text-align: center;
  margin-left: 50%;
  z-index: 1;
}

b {
  color: white;
  position: relative;
  top: 3px;
}

.popover {
  width: 175px;
}

