<div class="circle" [style.background]="color === Color.RED ? 'red' : 'black'" [ngbPopover]="popContent" popoverTitle="도구"
  placement="right" #p="ngbPopover">
  <b>{{ value || 'nil' }}</b>
</div>

<ng-template #popContent>
  <div class="btn-group-vertical">
    <button class="btn btn-outline-secondary">Button</button>
    <button class="btn btn-outline-secondary">Button</button>
    <button class="btn btn-outline-secondary">Button</button>
    <button class="btn btn-outline-secondary">Button</button>
  </div>
</ng-template>
