<div class="toolbar">
  <div style="display: flex; justify-content: space-around">
    <div>
      <div>
        <input #input type="number" (keyup.enter)="onInsert(input.value);input.value='';">
        <button class="insert btn btn-outline-primary" type="button" (click)="onInsert(input.value);input.value='';">삽입</button>
      </div>
    </div>
    <div>
      <button class="btn btn-outline-danger"
              (click)="clearAll.emit()"
              placement="top"
              ngbTooltip="전체삭제">
        <img width="14px" height="14px" src="/assets/icons/trash.svg">
      </button>
      <button class="btn btn-outline-secondary"
              (click)="undo.emit()"
              placement="top"
              ngbTooltip="되돌리기">
        <img width="14px" height="14px" src="/assets/icons/action-undo.svg">
      </button>
      <button class="btn btn-outline-secondary"
              (click)="redo.emit()"
              placement="top"
              ngbTooltip="되살리기">
        <img width="14px" height="14px" src="/assets/icons/action-redo.svg">
      </button>
    </div>
    <div>
      <modal style="position: relative; top: 0; right: 0;"></modal>
    </div>
  </div>
</div>
