<div class="toolbar">
  <div class="row">
    <div class="col">
      <div>
        <input #input type="number" class="" placeholder="값">
        <button class="insert btn btn-outline-primary" type="button" (click)="onInsert(input.value);input.value='';">삽입</button>
      </div>
    </div>
    <div class="col extra">
      <button class="btn btn-outline-danger"
              (click)="clearAll.emit()"
              placement="top"
              ngbTooltip="전체삭제">
        <img width="14px" height="14px" src="/assets/icons/trash.svg">
      </button>
      <button class="btn btn-outline-secondary"
              (click)="undo.emit()"
              placement="top"
              ngbTooltip="되돌리기">
        <img width="14px" height="14px" src="/assets/icons/action-undo.svg">
      </button>
      <button class="btn btn-outline-secondary"
              (click)="redo.emit()"
              placement="top"
              ngbTooltip="되살리기">
        <img width="14px" height="14px" src="/assets/icons/action-redo.svg">
      </button>
    </div>
  </div>
</div>
