<nav class="nav">
  <a class="nav__link" href="#">
    <span class="nav__subtitle">
      <span class="nav__red">알고리즘 </span>
      <span class="nav__black">시각화</span>
    </span>
    |
    <span class="nav__title">
      <span class="nav__red">레드 </span>
      <span class="nav__black">블랙</span>
      트리
    </span>
    |
    <span class="nav__else">
      HCI
    </span>
  </a>
  <!--<span class="nav__help nav__red" (click)="isHelpModalOpen = true">도움말</span>-->
</nav>
<property [violations]="rbTree.violations"></property>
<board [tree]="rbTree"></board>
