.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.25);
}

.red {
  color: var(--main-red);
}


.modal__image {
  margin: 10px 0;
  border-radius: var(--main-border-radius);
  max-width: 100%;
  background-color: var(--main-white);
}
