.panel {
  position: absolute;
  left: 0;
  top: 350px;
  text-align: right;
  padding: 10px 20px;
  background-color: var(--main-black);
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
  color: var(--main-white);
  box-shadow: 0 0 2px 1px var(--main-black);
  transition: left 1s;
}

.panel.__invisible {
  left: -200px;
}

.panel__btn {
  border: none;
  background-color: transparent;
  padding: 0 20px;
  margin: 10px 0;
  font-size: 20px;
  color: var(--main-white);
  cursor: pointer;
}

.panel__btn + .panel__btn {
  border-left: 1px solid var(--main-coal);
}
